<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ChromePath" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    <add key="DriverPath" value="D:\MyUtilits\Veem\packages\Selenium.WebDriver.ChromeDriver.89.0.4389.2300\driver\win32"/>
    <add key="Url" value="https://careers.veeam.ru/vacancies"/>

    <add key="VeemLangXpath" value="(//*[@id='sl'])[2]"/>
    <add key="VeemDepartmentXpath" value="(//*[@id='sl'])[1]"/>
    <add key="VeemClearFilteresXpath" value="//*[@id='root']/div/div[1]/div/div[2]/div[1]/div/div[6]/button"/>
    <add key="VeemLangRegex" value='lang-option-\d(?=">{0})' />
    <add key="VeemAwaliablePositionsRegex" value='card card-no-hover card-sm' />
    <add key="Equal" value="Количество ожидаемых и выданных вакансий равно." />
    <add key="AwaitedMore" value="Количество ожидаемых вакансий было больше." />
    <add key="AwaitedLess" value="Количество выданных вакансий было больше." />
  </appSettings>
</configuration>